[Desktop Entry]
Type=Application
Exec=/usr/bin/indiserver
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=INDI Server
Comment=Start INDI server at boot
