[Unit]
Description=INDI Server for Astronomy Devices
After=network.target

[Service]
ExecStart=/usr/bin/indiserver -m 100 -v indi_eqmod_telescope indi_asi_ccd indi_asi_wheel
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
