[Unit]
Description=INDI Server with preloaded profile
After=network.target

[Service]
ExecStart=/home/pi/scripts/start-indi.sh
Restart=on-failure
User=pi

[Install]
WantedBy=default.target
